{% apply spaceless %}

  {% set element = href ? 'a' : 'span' %}
  {% set default_classes = ['untld-badge'] %}

  {% if modifier %}
    {% if modifier == 'primary' %}
      {% set default_classes = default_classes|merge(['bg-primary-base', 'border-primary-dark']) %}
    {% elseif modifier == 'secondary' %}
      {% set default_classes = default_classes|merge(['bg-secondary-base','border-secondary-dark']) %}
    {% else %}
      {% set default_classes = default_classes|merge(['bg-gray-light', 'border-gray-base']) %}
    {% endif %}

    {% set default_classes = default_classes|merge(['untld-badge-' ~ modifier]) %}
  {% endif %}

  {% set class_list = merge_classes(default_classes, extra_classes, classes) %}

  {% if foreground == "light" %}
    {% set classes = classes|merge(['text-white']) %}
  {% elseif foreground == "dark" %}
      {% set classes = classes|merge(['text-black']) %}
  {% endif %}

  <{{ element}} class="{{ class_list|join(' ')|trim }}"{% if id %} id="{{ id }}"{% endif %} {% if href %} href="{{ href }}"{% endif %}>
    {{ text }}
  </{{ element }}>

{% endapply %}
