{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = [
      'untld-checkbox'
    ] %}
  {% endif %}

  <div class="{{ classes|join(' ') }}">
  {% if id %}
    {% set identifier = id ~ '-checkbox' %}
  {% else %}
    {% set identifier = random() ~ '-checkbox' %}
  {% endif %}
    <input type="checkbox"
           id="{{ identifier }}"
           name="{{ name }}"
           {%- if value %} value="{{ value }}"{% endif -%}
           {%- if label_visible and label_visible == 'false' %} class="sr-only" {% endif -%}
           {%- if required  %}required="required" aria-required="true"{% endif -%}
           {%- if checked %} checked{% endif -%}
            {%- for attribute, value in x_attributes %}
              {% if value %}
                {{ attribute }}="{{ value }}"
              {% else %}
                {{ attribute }}
              {% endif %}
            {% endfor -%}
    >
    {% if label %}
        <label for="{{ identifier }}" class="ml-2 mr-4">{{ label }}</label>
    {% endif %}
    {% if help %}
      <p class="text-sm text-gray-dark">{{ help }}</p>
    {% endif %}
  </div>

{% endapply %}
