{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = [
      'block',
      'appearance-none',
      'w-full',
      'bg-gray-xlight',
      'border',
      'border-gray-base',
      'text-gray-xdark',
      'py-3',
      'px-4',
      'mb-3',
      'pr-8',
      'rounded-sm',
      'leading-tight',
      'focus:outline-none',
      'focus:bg-white',
      'focus:border-secondary-base'
    ] %}
  {% endif %}

  {% if label %}
    <label{% if id %} id="{{ id }}-label" for="{{ id }}"{% endif %}>
      {{ label }}
    </label>
  {% endif %}
  <div class="relative">
    <select title="{{ label }}"
           class="{{ classes|join(' ') }}"
           name="{{ name }}"
           {% if id %}id="{{ id }}" aria-labelledby="{{ id }}-label"{% endif %}
      {% if required == "true" %} required="required" aria-required="true"{% endif %}>
      {% for value, option in options %}
        <option
          value="{{ value }}"
          {% if selected is empty and loop.index == 1 %}
            selected
          {% elseif selected and selected == value %}
            selected
          {% endif %}>
            {{ option }}
        </option>
      {% endfor %}
    </select>
    {# TODO: use the icon component for down caret #}
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
    </div>
  </div>
{% endapply %}
