{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = ['untld-tip', 'bg-gray-xdark', 'text-white', 'text-sm', 'p-1', 'm-1', 'rounded-sm', 'opacity-75'] %}
  {% endif %}

  {% if position %}
    {% set classes = classes|merge(['absolute']) %}
    {% if position == 'top' or position == 'bottom' %}
      {% set classes = classes|merge([position ~ '-0']) %}
    {% elseif position == 'right' or position == 'left' %}
      {% set classes = classes|merge(['top-0', position ~ '-0']) %}
    {% endif %}
  {% endif %}
  <span class="{{ classes|join(' ') }}"{% if x_show %} x-show="{{ x_show }}"{% endif %}>{{ text }}</span>

{% endapply %}
