{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = ['untld-tabs'] %}
  {% endif %}

  {% if modifier %}
    {% set classes = classes|merge(['untld-tabs-' ~ modifier]) %}
  {% endif %}

  {# Get the active tab ref name, default first item #}
  {% set selected = 'tab-1' %}
  {% for item in items %}
    {% if item.active %}
      {% set selected = 'tab-' ~ loop.index %}
    {% endif %}
  {% endfor %}

  {% if items|length > 0 %}
    <div class="{{ classes|join(' ') }}"{% if id %} id="{{ id }}"{% endif %} x-data="{ tab: '{{ selected }}' }">
      <ul class="flex flex-col sm:flex-row text-primary-base border-primary-base">
        {% for item in items %}
          <li class="hover:border-b-4 font-medium py-4 px-6 block{% if item.active %} active{% endif %}"
              x-bind:class="{ 'border-b-4': tab === '{{ 'tab-' ~ loop.index }}' }">
            {% if item.href %}
              <a class="focus:outline-none" href="{{ item.href }}">{{ item.text }}</a>
            {% else %}
              <button class="focus:outline-none" @click="tab = 'tab-{{ loop.index }}'">
                {{- item.text -}}
              </button>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {% for item in items %}
        {% if item.content %}
          <div class="py-4" x-show="tab === 'tab-{{ loop.index }}'">
            {{ item.content }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

{% endapply %}
