{% apply spaceless %}

  {% set src = sizes.default ? sizes.default : sizes.large %}

  {% if itemscope %}
    <div itemscope itemtype="{{ itemtype }}">
  {% endif %}
      <img{% if id %} id="{{ id }}"{% endif %} src="{{ src }}" alt="{{ alt }}"
          {%- if width -%}
            width="{{ width }}"
          {%- endif -%}
          {%- if height -%}
            height="{{ height }}"
          {%- endif -%}
          {%- if itemprop -%}
            itemprop="{{ itemprop }}"
          {%- endif -%}
        />
  {% if itemscope %}
    </div>
  {% endif %}

{% endapply %}
