{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = ['untld-tombstone', 'prose', 'mx-2'] %}
  {% endif %}

  {% if items|length > 0 %}
    <dl class="{{ classes|join(' ') }}"{% if id %} id="{{ id }}"{% endif %}>
      {% for item in items %}
        <dt class="p-2 uppercase font-medium text-black">{{ item.term }}</dt>
        <dd class="p-2 border-b border-gray-light text-gray-dark">{{ item.description|raw }}</dd>
      {% endfor %}
    </dl>
  {% endif %}

{% endapply %}
