<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ Untitled }} Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description | default(site.description) }}">
    <meta name="author" content="{{ site.author.name }}">
    <link media="all" rel="stylesheet" href="/css/ui.css">
</head>
    <body class="flex w-screen h-screen brand-gradient">
        <section class="m-auto w-1/2 text-white text-center">
            <h1 class="font-heading text-6xl leading-tight">{{ Untitled }} Design System</h1>
            <p class="text-xl font-thin">UI component library and common design language for the <a href="https://americanart.si.edu" class="font-normal">Smithsonian American Art Museum</a>.</p>
            <a href="/docs/overview.html" class="un-button font-sans text-2xl text-white inline-block py-2 px-4 my-20 shadow-sm border border-white no-underline whitespace-no-wrap transition-colors duration-1000 ease-out bg-transparent hover:bg-blue-xdark">Explore</a>
        </section>
    </body>
</html>
