/*
.card {
    @apply relative max-w-sm rounded overflow-hidden shadow-lg;
    &.card-primary {
        @apply bg-primary-base;
        header, .body {
            @apply text-white;
        }
    }
    &.card-secondary {
        @apply bg-secondary-base;
        header, .body {
            @apply text-white;
        }
    }
    &.card-tertiary {
        @apply bg-tertiary-base;
    }
    header, .body, footer {
        @apply px-6 py-4;
    }
    .untld-badge {
        @apply absolute top-0 right-0 mr-2 mt-2;
    }
    header {
        @apply font-bold text-xl mb-2;
    }
    section.body {
        @apply text-gray-dark text-base;
    }
    footer {
        @apply text-sm font-semibold text-gray-dark;
        & > a {
            @apply rounded-full inline-block bg-gray-light px-3 py-1 mr-2;
        }
    }
}
*/
