{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = ['untld-card', 'relative', 'max-w-sm', 'rounded', 'overflow-hidden', 'shadow-lg'] %}
  {% endif %}

  {% if modifier %}
    {% set variant_class = 'untld-card-' ~ modifier %}
    {% set background = 'bg-' ~ modifier ~ '-base' %}
    {% set classes = classes|merge([variant_class, background]) %}
  {% endif %}

  {% if foreground == "light" %}
    {% set classes = classes|merge(['text-white']) %}
  {% elseif foreground == "dark" %}
    {% set classes = classes|merge(['text-black']) %}
  {% endif %}

  {% if image %}
    {% set component_image %}
      {% if href %}<a href="{{ href }}" class="flex w-full justify-center">{% endif %}
      {% include "@components/image/image.twig" with image only %}
      {% if href %}</a>{% endif %}
    {% endset %}
  {% endif %}

  <div class="{{ classes|join(' ') }}"{% if id %} id="{{ id }}"{% endif %}>
    {% if component_image and modifier != 'bottom' %}
      {{ component_image }}
    {% endif %}
    {% if badge %}
      {% include "@components/badge/badge.twig" with badge only %}
    {% endif %}
    {% block header %}
      {% if title %}
        {% if href %}<a href="{{ href }}">{% endif %}
        <header class="px-4 py-2 font-bold text-xl">{{ title }}</header>
        {% if href %}</a>{% endif %}
      {% endif %}
      {% if subtitle %}
        <div class="px-4 py-2 text-gray-dark text-lg">{{ subtitle }}</div>
      {% endif %}
    {% endblock %}
    {% block content %}
      {% if body %}
        <div class="px-4 py-2">{{ body|raw }}</div>
      {% endif %}
    {% endblock %}
    {% block footer %}{% endblock %}
    {% if component_image and modifier == 'bottom' %}
      {{ component_image }}
    {% endif %}
  </div>

{% endapply %}
