{% apply spaceless %}

    {% if icon %}

        {% set element = 'div' %}

        {% if href is not empty or button %}
            {% set element = 'a' %}
        {% endif %}

        {% if classes is empty or classes is not iterable %}
            {% set classes = ['csl-icon', 'csl-icon-' ~ icon, 'py-1'] %}
        {% endif %}

        {% if modifier %}
            {% set background = 'bg-' ~ modifier ~ '-base' %}
            {% set classes = classes|merge([background]) %}
        {% endif %}

        {% if foreground == "light" %}
            {% set classes = classes|merge(['text-white', 'hover:text-gray-light']) %}
        {% elseif foreground == "dark" %}
            {% set classes = classes|merge(['text-black', 'hover:text-gray-dark']) %}
        {% endif %}

        {# Set the svg size class #}
        {% set size = size|lower %}
        {% if size == 'xsmall' %}
            {% set icon_classes = ['w-3', 'h-3'] %}
        {% elseif size == 'small' %}
            {% set icon_classes = ['w-4', 'h-4'] %}
        {% elseif size == 'large' %}
            {% set icon_classes = ['w-12', 'h-12'] %}
        {% elseif size == 'xlarge' %}
            {% set icon_classes = ['w-16', 'h-16'] %}
        {% else %}
            {# Default size: "medium" #}
            {% set icon_classes = ['w-6', 'h-6'] %}
        {% endif %}

        <{{ element }}
        class="{{ classes|join(' ') }}"
        {% if button %} role="button"{% endif %}
        {% if id %} id="{{ id }}"{% endif %}
        {% if href %} href="{{ href }}"{% endif %}
        {%- for attribute, value in x_attributes %}
            {% if value %}
                {{ attribute }}="{{ value }}"
            {% else %}
                {{ attribute }}
            {% endif %}
        {% endfor -%}
        >
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current inline-block {{ icon_classes|join(' ') }}" viewBox="0 0 20 20">
            {%- if icon == "calendar" %}
                <path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/>
            {% elseif icon == "checkmark-outline" %}
                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/>
            {% elseif icon == "checkmark" %}
                <path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/>
            {% elseif icon == "cheveron-down" %}
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
            {% elseif icon == "cheveron-left" %}
                <path d="M7.05 9.293L6.343 10 12 15.657l1.414-1.414L9.172 10l4.242-4.243L12 4.343z"/>
            {% elseif icon == "cheveron-right" %}
                <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
            {% elseif icon == "cheveron-up" %}
                <path d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z"/>
            {% elseif icon == "clipboard" %}
                <path d="M7.03 2.6a3 3 0 0 1 5.94 0L15 3v1h1a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2h1V3l2.03-.4zM5 6H4v12h12V6h-1v1H5V6zm5-2a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            {% elseif icon == "close" %}
                <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/>
            {% elseif icon == "exclamation-outline" %}
                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 5h2v6H9V5zm0 8h2v2H9v-2z"/>
            {% elseif icon == "information-outline" %}
                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
            {% elseif icon == "lock-closed" %}
                <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"/>
            {% elseif icon == "search" %}
                <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
            {% elseif icon == "star-full" %}
                <path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/>
            {% endif -%}
        </svg>
        {%- if text -%}
            <span class="ml-2">{{ text }}</span>
        {%- endif -%}
        </{{ element }}>

    {% endif %}

{% endapply %}