{% apply spaceless %}

    {% set default_classes = ['untld-alert', 'relative', 'border-l-4', 'p-4', 'my-4', 'mx-2', 'shadow-md'] %}

    {% if modifier %}
        {% if modifier == 'primary' %}
            {% set default_classes = default_classes|merge(['bg-primary-base', 'border-primary-dark']) %}
        {% elseif modifier == 'success' %}
            {% set default_classes = default_classes|merge(['bg-green-base','border-green-dark']) %}
        {% elseif modifier == 'warning' %}
            {% set default_classes = default_classes|merge(['bg-orange-base','border-orange-dark']) %}
        {% elseif modifier == 'danger' %}
            {% set default_classes = default_classes|merge(['bg-red-base','border-red-dark']) %}
        {% elseif modifier == 'ghost' %}
            {% set default_classes = default_classes|merge(['bg-transparent', 'border-gray-xdark', 'border-l-4', 'border-t', 'border-r', 'border-b']) %}
        {% endif %}
    {% else %}
        {% set default_classes = default_classes|merge(['bg-gray-light']) %}
    {% endif %}

    {% if foreground == "light" %}
        {% set default_classes = default_classes|merge(['text-white']) %}
    {% elseif foreground == "dark" %}
        {% set default_classes = default_classes|merge(['text-black']) %}
    {% endif %}

    {% set class_list = merge_classes(default_classes, extra_classes, classes) %}

    <div role="alert" class="{{ class_list|join(' ') }}"{% if id %} id="{{ id }}"{% endif %}{% if dismissible %}x-data="Untitled.alert()" x-show="visible"{% endif %}>
      <div class="flex">
          <div class="icon py-1 mr-4">
              {% if modifier == 'success' %}
                  {% include "@components/icon/icon.twig" with { "icon": "checkmark-outline", "foreground": foreground } only %}
              {% elseif modifier in ['warning', 'danger'] %}
                  {% include "@components/icon/icon.twig" with { "icon": "exclamation-outline", "foreground": foreground } only %}
              {% else %}
                  {% include "@components/icon/icon.twig" with { "icon": "information-outline", "foreground": foreground } only %}
              {% endif %}
          </div>
          <div>
              {% if title %}
                  <p class="font-bold">{{ title }}</p>
              {% endif %}
              {% if messages is iterable %}
                  <ul class="message">
                      {% for message in messages %}
                          <li class="text-sm">{{ message }}</li>
                      {% endfor %}
                  </ul>
              {% else %}
                  <div class="text-sm">{{ messages }}</div>
              {% endif %}
          </div>
      </div>
      {% if dismissible %}
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
              <a @click="close()" href="#">
                  {% include "@components/icon/icon.twig" with { "icon": "close", "foreground": foreground, "size": "small" } only %}
              </a>
          </span>
      {% endif %}
  </div>

{% endapply %}
