{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = ['untld-thumbnav', 'flex', 'bg-tertiary-light', 'rounded'] %}
  {% endif %}

  {% if images|length > 0 %}
    <ul class="{{ classes|join(' ') }}"{% if id %} id="{{ id }}"{% endif %}>
      {%- for key, image in images %}
        <li class="{% if loop.first %}active {% endif %}item-{{ key + 1 }} m-2">
          {% set src = image.sizes.small ?: image.sizes.default %}
          {% include "@components/image/image.twig" with {
            "sizes": {
              "default": src
            },
            "classes": ['untld-image', 'object-cover', 'h-48', 'w-full', 'opacity-75', 'hover:opacity-100'],
            "alt": image.alt,
            "title": image.title
          } only %}
        </li>
      {% endfor %}
    </ul>
  {% endif -%}

{% endapply %}
