{% apply spaceless %}

  {# TODO: How to set the background color? With a modifier? #}
  {% if classes is empty or classes is not iterable %}
    {% set classes = ['untld-navbar', 'flex', 'flex-wrap', 'items-center', 'p-6', 'bg-black', 'text-white', 'shadow-xl', 'font-heading'] %}
  {% endif %}

  {% if modifier %}
    {% set classes = classes|merge(['untld-navbar-' ~ modifier]) %}
  {% endif %}

  {% if foreground == "light" %}
    {% set classes = classes|merge(['text-white']) %}
  {% elseif foreground == "dark" %}
    {% set classes = classes|merge(['text-black']) %}
  {% endif %}

  {% if fixed %}
    {% set classes = classes|merge(['sticky', 'top-0']) %}
  {% endif %}

  <nav class="{{ classes|join(' ') }}"{% if id %} id="{{ id }}"{% endif %}>
    {# Navbar Left #}
    <div class="flex-grow">
      {% block navbar_left %}
        <ul class="nav flex items-center">
          {% if logo %}
            <li class="mr-6">
              {# TODO: how to set the href? #}
              <a class="logo" href="/">
                {# TODO: Use the image component if logo.graphic is "raster" #}
                {% include "@components/svg/svg.twig" with logo only %}
              </a>
            </li>
          {% endif %}
          {% for item in items %}
            {# TODO: Create a dropdown menu #}
            <li class="relative mr-6{% if item.active %} active{% endif %}">
              {% if item.href %}
                <a href="{{ item.href }}">{{ item.text }}</a>
              {% else %}
                {{ item.text }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endblock %}
    </div>

    {# Navbar Right #}
    <div class="flex">
      {% block navbar_right %}{% endblock %}
    </div>
  </nav>

{% endapply %}
