<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Preview {{ _target.label }}</title>
    <link media="all" rel="stylesheet" href="{{ path }}/css/ui.css">
</head>
<body id="preview" class="p-4">

{{ yield }}

<script src="{{ path }}/js/ui.js" defer></script>
<script src="{{ path }}/js/superagent.min.js" defer></script>
</body>
</html>