<div class="antialiased sans-serif">
  <div x-data="Untitled.datepicker()" x-init="[initDate(), getNumDays()]" x-cloak>
    <div class="container mx-auto px-4 py-2 md:py-10">
      <div class="mb-5 w-64">

        <label for="datepicker" class="">Select Date</label>
        <div class="relative">
          <input type="hidden" name="date" x-ref="date">

          <input
            type="text"
            readonly
            x-model="datepickerValue"
            @click="showDatepicker = !showDatepicker"
            @keydown.escape="showDatepicker = false"
            class="w-full py-3 px-4 mb-2 bg-gray-xlight appearance-none border border-gray-base rounded-sm text-gray-xdark leading-tight focus:outline-none focus:bg-white focus:border-secondary-base"
            placeholder="Select date">

          <div class="absolute top-0 right-0 px-3 py-2">
            {% include '@components/icon/icon.twig' with {
              icon: 'calendar',
              size: 'small'
            } only %}
          </div>

          {# <div x-text="numDays.length"></div>#}
          {# <div x-text="32 - new Date(year, month, 32).getDate()"></div>#}
          {# <div x-text="new Date(year, month).getDay()"></div>#}

          <div
            class="mt-12 bg-white border-gray-base border rounded-sm shadow-lg p-4 absolute top-0 left-0 z-50"
            style="width: 17rem"
            x-show.transition="showDatepicker"
            @click.away="showDatepicker = false">

            <div class="flex justify-between items-center mb-2">
              <div>
                <span x-text="months[month]" class="text-lg font-bold text-gray-800"></span>
                <span x-text="year" class="ml-1 text-lg text-gray-600 font-normal"></span>
              </div>
              <div>
                {# TODO: Allow switching between years #}
                <button
                  type="button"
                  class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full focus:outline-none"
                  :class="{'cursor-not-allowed opacity-25': month == 0 }"
                  :disabled="month == 0 ? true : false"
                  @click="month--; getNumDays()">
                  {% include '@components/icon/icon.twig' with {
                    icon: 'cheveron-left',
                    size: 'small'
                  } only %}
                </button>
                <button
                  type="button"
                  class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full focus:outline-none"
                  :class="{'cursor-not-allowed opacity-25': month == 11 }"
                  :disabled="month == 11 ? true : false"
                  @click="month++; getNumDays()">
                  {% include '@components/icon/icon.twig' with {
                    icon: 'cheveron-right',
                    size: 'small'
                  } only %}
                </button>
              </div>
            </div>

            <div class="flex flex-wrap mb-3 -mx-1">
              <template x-for="(day, index) in days" :key="index">
                <div style="width: 14.26%" class="px-1">
                  <div x-text="day" class="text-gray-800 font-medium text-center text-xs"></div>
                </div>
              </template>
            </div>

            <div class="flex flex-wrap -mx-1">
              <template x-for="blank in blankDays">
                <div style="width: 14.28%" class="text-center border p-1 border-transparent text-sm"></div>
              </template>
              <template x-for="(date, dateIndex) in numDays" :key="dateIndex">
                <div style="width: 14.28%" class="px-1 mb-1">
                  <div
                    @click="getDateValue(date)"
                    x-text="date"
                    class="cursor-pointer text-center text-sm leading-none rounded-full leading-loose transition ease-in-out duration-100"
                    :class="{'bg-blue-500 bg-gray-xlight': isToday(date) == true, 'text-gray-700 hover:bg-blue-200': isToday(date) == false }"
                  ></div>
                </div>
              </template>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
