/*
Base styles for Untitled DS
 */
[x-cloak] { display: none; }
p {
    margin: 0 0 theme('spacing.2');
}
::selection {
    background: theme('colors.secondary.light');
}
::-moz-selection {
    background: theme('colors.secondary.light');
}
.brand-gradient {
    background: theme('colors.blue.dark');
    background: linear-gradient(90deg, theme('colors.blue.dark') 0%, theme('colors.red.dark') 50%, theme('colors.red.base') 100%);
}