{% apply spaceless %}

  {% if not element %}
    {% set element = "section" %}
  {% endif %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = ['untld-section', 'p-2'] %}
  {% endif %}

  {% if modifier %}
    {% set background = 'bg-' ~ modifier ~ '-base' %}
    {% set classes = classes|merge([background]) %}
  {% endif %}

  {% if foreground == "light" %}
    {% set classes = classes|merge(['text-white']) %}
  {% elseif foreground == "dark" %}
    {% set classes = classes|merge(['text-black']) %}
  {% endif %}

  <{{ element }} class="{{ classes|join(' ') }}"{% if id %} id="{{ id }}"{% endif %}{% if role %} role="{{ role }}"{% endif %}{% if custom_attributes %} {{ custom_attributes }}{% endif %}>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
  </{{ element }}>

{% endapply %}

