{% apply spaceless %}

    <div class="untld-clipboard"{% if id %} id="{{ id }}"{% endif %} x-data="Untitled.clipboard()">
        {% include "@components/tip/tip.twig" with {
            "text": copied_text|default('Copied to clipboard!'),
            "x_show": "isCopied();"
        } only %}
        <button class="focus:outline-none" @click="copy()" title="Copy to clipboard">
            {% include "@components/icon/icon.twig" with { "icon": "clipboard" } only %}
        </button>
        <textarea x-ref="copyMe" class="hidden" style="display:none;" hidden>
            {{- copy_text -}}
        </textarea>
    </div>

{% endapply %}
