{% apply spaceless %}

    {% set default_classes = ['untld-accordion', 'w-full', 'border-b', 'border-l', 'border-r', 'border-gray-base'] %}
    {% set class_list = merge_classes(default_classes, extra_classes, classes) %}

    {% set header_classes = ['item-header', 'relative', 'p-4', 'bg-gray-xlight', 'border-t', 'border-b', 'border-gray-base', 'select-none'] %}
    {% if collapsible %}
        {% set header_classes = header_classes|merge(['cursor-pointer']) %}
    {% endif %}

    {% set selected = selected ?: 'null' %}

  {% if collapsible %}
    {# Output accordion with collapsible elements #}
    <ul class="{{ class_list|join(' ')|trim }}"{% if id %} id="{{ id }}"{% endif %} x-data="{ selected: {{ selected }} }">
      {% for item in items %}
          <li class="{{ 'item-' ~ loop.index }}">
              {% if item.header %}
                  <header class="{{ header_classes|join(' ') }}" @click="selected !== {{ loop.index }} ? selected = {{ loop.index }} : selected = null">
                      {{ item.header }}
                      {% if collapsible %}
                          <span class="absolute top-0 bottom-0 right-0 px-4 py-3" x-show="selected !== {{ loop.index }}">
                              {% include "@components/icon/icon.twig" with { "icon": "cheveron-down"  } only %}
                          </span>
                      {% endif %}
                  </header>
              {% endif %}
              {% if item.content %}
                  <div class="{{ 'item-' ~ loop.index ~ '-content' }} p-4" x-show.transition.in.opacity.duration.200ms="selected == {{ loop.index }}">{{ item.content }}</div>
              {% endif %}
          </li>
      {% endfor %}
    </ul>
  {% else %}
    {# Output the static list #}
    <ul{% if id %} id="{{ id }}"{% endif %} class="{{ classes|join(' ') }}">
      {% for item in items %}
        <li class="item {{ 'item-' ~ loop.index }}">
          {% if item.header %}
            <header class="{{ header_classes|join(' ') }}">
                {{ item.header }}
            </header>
          {% endif %}
          {% if item.content %}
            <div class="{{ 'item-content' }} p-4">{{ item.content }}</div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endapply %}
