{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = [
      'untld-checkboxes'
    ] %}
  {% endif %}

  <fieldset{% if id %} id="{{ id }}"{% endif %}>
    {% if legend %}
      <legend{% if legend_visible and legend_visible == 'false' %} class="sr-only"{% endif %}>
        {{ legend }}
      </legend>
    {% endif %}
    {% if help %}
      <p class="text-sm text-gray-dark">{{ help }}</p>
    {% endif %}
    <div class="flex flex-wrap my-2">
      {% for item in items %}
        {% include "@components/form/checkbox/checkbox.twig" with item only %}
      {% endfor %}
    </div>
  </fieldset>

{% endapply %}
