{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = [
      'bg-gray-xlight',
      'appearance-none',
      'border',
      'border-gray-base',
      'rounded-sm',
      'w-full',
      'py-3',
      'px-4',
      'mb-3',
      'text-gray-xdark',
      'leading-tight',
      'focus:outline-none',
      'focus:bg-white',
      'focus:border-secondary-base'
    ] %}
  {% endif %}

  {% if label %}
    <label{% if id %} id="{{ id }}-label" for="{{ id }}"{% endif %}>
      {{ label }}
    </label>
  {% endif %}
  {% if help %}
    <p class="text-sm text-gray-dark">{{ help|raw }}</p>
  {% endif %}
  <textarea
    name="{{ name }}"
    rows="{{ rows|default('9') }}"
    cols="{{ columns|default('3') }}"
    class="{{ classes|join(' ') }}"
    {% if id %}id="{{ id }}" aria-labelledby="{{ id }}-label"{% endif %}
    {% if required == "true" %} required="required" aria-required="true"{% endif %}
  >
  </textarea>

{% endapply %}
