{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = ['untld-slider', 'flex', 'justify-center', 'w-full', 'm-2', 'p-2', 'bg-gray-light'] %}
  {% endif %}

  {# Set the svg size class #}
  {% set size = size|lower %}
  {% if size == 'xsmall' %}
    {% set size_classes = ['w-12', 'h-12'] %}
  {% elseif size == 'small' %}
    {% set size_classes = ['w-16', 'h-16'] %}
  {% elseif size == 'large' %}
    {% set size_classes = ['w-32', 'h-32'] %}
  {% elseif size == 'xlarge' %}
    {% set size_classes = ['w-48', 'h-48'] %}
  {% else %}
    {# Default size: "medium" #}
    {% set size_classes = ['w-24', 'h-24'] %}
  {% endif %}

  {% if items|length > 0 %}
    <div class="{{ classes|join(' ') }}"{% if id %} id="{{ id }}" {% endif %}>
      {% for key, item in items %}
        <div data-slide="{{ key }}" class="inline-block mx-2 {{ size_classes|join(' ') }}">
          {% set item = item|merge({"classes": ["untld-image", "max-h-full"]}) %}
          {% include "@components/image/image.twig" with item only %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endapply %}
