{% apply spaceless %}

  {% if classes is empty or classes is not iterable %}
    {% set classes = ['untld-pager', 'flex'] %}
  {% endif %}

  {% if items %}
    <ul class="{{ classes|join(' ') }}"{% if id %} id="{{ id }}"{% endif %}>
      {% for item in items%}
        <li class="mx-1 rounded-sm {% if item.active %}bg-primary-base text-white{% else %}bg-gray-light text-black hover:bg-gray-base{% endif %}">
          {% if item.href %}
            <a class="flex items-center" href="{{ item.href }}">
              <span class="py-2 px-4 font-bold text-md">{{ item.text }}</span>
            </a>
          {% else %}
            <span class="py-2 px-4 font-bold text-md">{{ item.text }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endapply %}
